<!DOCTYPE html>
{{"<!-- _default/baseof.html -->" | safeHTML }}
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
  <head itemscope itemtype="{{ .Site.BaseURL }}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Site.Title }} - {{ .Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	{{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules/myscss")) }}
	{{ $style := resources.Get "scss/site.scss" | resources.ToCSS $options }}
	<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
	<link rel="icon" type="image/png" href="/img/favicon.png">
	{{ partial "meta" . }}
	<script src="{{ "js/main.js" | relURL }}" type="text/javascript"></script>
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
  </head>
<body>
	{{ partial "_banner" . }}
	{{ partial "_header" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "_footer" . }}
</body>
</html>
