<footer>
	<div class="wrapper footer-links">
		<div class="top-links">
			<ul class="left-links">
				<li><a href="{{ .Site.Params.links.twitter_url }}" target="_blank"><img src="/img/twitter.png" />Twitter</a></li>
				<li><a href="{{ .Site.Params.links.github_url }}" target="_blank"><img src="/img/github.svg" />GitHub</a></li>
				<li><a href="{{ .Site.Params.links.slack_url }}" target="_blank"><img src="/img/slack.png" /><span class="desktop">Slack</span><span class="mobile">Slack</span></a></li>
			</ul>
			<div class="right-links">
				<p>
					<a target="_blank" rel="noopener" href="/"> <img src="/img/logo.svg" /></a>
				</p>
			</div>
		</div>
		<div class="bottom-links">
			<p>
				<span>
					&copy; {{ now.Year }} Carvel Authors. Apache 2.0 License.
					<a target="_blank" rel="noopener" href="https://github.com/vmware/">A VMware-backed project.</a>
					We are a Cloud Native Computing Foundation sandbox project.
				</span>
				<span>
					<a target="_blank" rel="noopener" href='https://www.vmware.com/help/legal.html'>Terms of Use</a> |
					<a target="_blank" rel="noopener" href='https://www.vmware.com/help/privacy.html'>Privacy Policy</a> |
					<a target="_blank" rel="noopener" href='https://www.vmware.com/help/privacy/california-privacy-rights.html'>Your California Privacy Rights</a>
				</span>
				<span>
					<a target="_blank" rel="noopener" href="https://www.cncf.io/">
						<img id="cncf-logo" src="/img/cncf-color.svg" alt="CNCF logo" />
					</a>
				</span>
			</p>
		</div>
	</div>
</footer>
