<footer>
	<div class="wrapper footer-links">
		<ul class="left-links">
			<li><a href="{{ .Site.Params.links.twitter_url }}" target="_blank"><img src="/img/twitter.png" />Twitter</a></li>
			<li><a href="{{ .Site.Params.links.github_url }}" target="_blank"><img src="/img/github.svg" />GitHub</a></li>
			<li><a href="{{ .Site.Params.links.slack_url }}" target="_blank"><img src="/img/slack.png" /><span class="desktop">Slack</span><span class="mobile">Slack</span></a></li>
		</ul>
		<div class="right-links">
			<p>
				<a target="_blank" rel="noopener" href="/"> <img src="/img/logo.svg" /></a>
				<span class="copywrite">&copy; {{ now.Year }} Carvel Authors. Apache 2.0 License.</span>
			</p>
		</div>
	</div>
		<div class="bottom-links">
			<a href="https://www.cncf.io/sandbox-projects/" target="_blank"><img src="/img/cncf-color1.svg" alt="Cloud Native Computing Foundation" /></a>
			<small class="copright">We are a <a href="https://www.cncf.io/sandbox-projects/">Cloud Native Computing Foundation</a> sandbox project.</small>
			<p>
				<small class="copright">&copy; {{ now.Year }} The Linux Foundation. All Rights Reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of the Linux Foundation, please see our <a href="https://www.linuxfoundation.org/trademark-usage" target="_blank">Trademarks Usage</a> page.</a></small>
			</p>
		</div>
	</div>
</footer>
