{{ $inSubproject := (in .Site.Params.products .Section) }}

<header {{ if $inSubproject }}class="in-subproject"{{ end }}>
	<div class="wrapper">
		<a href="{{ .Site.BaseURL }}"><img class="image" src="/img/logo.svg" alt="Carvel Logo" /></a>
		<ul class="desktop-links">
			<li><a href="/" {{ if (eq .RelPermalink "/") }}class="active"{{ end }}>Home</a></li>
			<li class="subprojects-in-primary-nav">
				<a href="/" onclick="return false;">Projects</a>
				<ul>
					{{ range .Site.Params.products }}
					{{ $info := (index $.Site.Params .) }}
					<li><a href="{{ $info.root_link }}" {{ if (eq $.RelPermalink $info.root_link) }}class="active"{{ end }}>{{ $info.name }}</a></li>
					{{ end }}
				</ul>
			</li>
			<li><a href="/community/" {{ if (eq .RelPermalink "/community/") }}class="active"{{ end }}>Community</a></li>
			<li><a href="/blog/" {{ if or (eq .Page.Section "blog") (eq .Page.Section "tags") }}class="active"{{ end }}>Blog</a></li>
			<li><a href="/resources/" {{ if (eq .RelPermalink "/resources/") }}class="active"{{ end }}>Resources</a></li>
			<li><a href="{{ .Site.Params.links.slack_url }}"><img src="/img/slack.png" />#carvel in Kubernetes Slack</a></li>
		</ul>
		<button type="button" class="mobile" onclick="mobileNavToggle()">
			<img class="collapsed-icon" src="/img/hamburger.svg" alt="Mobile nav icon">
			<img class="expanded-icon" src="/img/close.svg" alt="Mobile nav icon">
		</button>
		<div id="mobile-menu" class="mobile-menu mobile">
			<ul class="header-links">
				<li><a href="/" {{ if (eq .RelPermalink "/") }}class="active"{{ end }}>Home</a></li>
				<li>
					<a href="/">Projects</a>
					<ul>
						{{ range .Site.Params.products }}
						{{ $info := (index $.Site.Params .) }}
						<li><a href="{{ $info.root_link }}" {{ if (eq $.RelPermalink $info.root_link) }}class="active"{{ end }}>{{ $info.name }}</a></li>
						{{ end }}
					</ul>
				</li>
				<li><a href="/community/" {{ if (eq .RelPermalink "/community/") }}class="active"{{ end }}>Community</a></li>
				<li><a href="/blog/" {{ if or (eq .Page.Section "blog") (eq .Page.Section "tags") }}class="active"{{ end }}>Blog</a></li>
				<li><a href="/resources/" {{ if (eq .RelPermalink "/resources/") }}class="active"{{ end }}>Community</a></li>
			</ul>
			<div class="social">
				<a href="{{ .Site.Params.links.github_url }}"><img src="/img/github.svg" />GitHub</a>
				<a href="{{ .Site.Params.links.slack_url }}"><img src="/img/slack.png" />#carvel in Kubernetes Slack</a>
			</div>
		</div>
	</div>
 </header>
  
 {{ if $inSubproject }}
 {{ $info := (index .Site.Params .Section) }}
 <header class="subproject-specific">
	<div class="wrapper">
		<a href="{{ $info.root_link }}" class="text-logo">{{ $info.name }}</a>
		<ul class="desktop-links">
			<li><a href="{{ $info.root_link }}" {{ if (eq .RelPermalink $info.root_link) }}class="active"{{ end }}>{{ $info.name }} Overview</a></li>
			<li><a href="{{ $info.latest_docs_link }}" {{ if (eq  .RelPermalink $info.latest_docs_link) }}class="active"{{ end }}>Documentation</a></li>
			<li><a href="{{ $info.github_url }}" target="_blank"><img src="/img/github.svg" />GitHub</a></li>
		</ul>
		<ul class="mobile-links mobile">
			<li><a href="{{ $info.latest_docs_link }}" {{ if (eq  .RelPermalink $info.latest_docs_link) }}class="active"{{ end }}>Docs</a></li>
			<li><a href="{{ $info.github_url }}" target="_blank"><img src="/img/github.svg" />GitHub</a></li>
		</ul>
	</div>
 </header>
 {{ end }}
  
 
