<div>
    <h2 id="join-the-carvel-community">Join the Carvel Community <a href="#join-the-carvel-community"
            class="section-link">¶</a></h2>
    <p>We are excited to hear from you and learn with you! Here are several ways you can get involved:</p>
    <ul>
        <li>Join Carvel’s slack channel, <a href="https://kubernetes.slack.com/archives/CH8KCCKA5"
                target="_blank">#carvel
                in Kubernetes</a> workspace, and connect with over 1000+ Carvel users.</li>
        <li>Find us on <a href="https://github.com/carvel-dev/carvel" target="_blank">GitHub</a>. Suggest how we can
            improve
            the project, the docs, or share any other feedback.</li>
        <li>Attend our Community Meetings! Check out the <a href="/community/">Community page</a> for full details on
            how to
            attend.</li>
    </ul>
    <p>We look forward to hearing from you and hope you join us in building a strong packaging and distribution story
        for
        applications on Kubernetes!</p>
</div>
