<!--
# Original table shortcode
# https://github.com/kubernetes/website/blob/master/layouts/shortcodes/table.html
-->
{{ $table := .Inner | markdownify }}

{{ $table := replace $table "(tr)" "<tr >" }}
{{ $table := replace $table "(/tr)" "</tr>" }}
{{ $table := replace $table "(th)" "<th>" }}
{{ $table := replace $table "(/th)" "</th>" }}
{{ $table := replace $table "(td)" "<td>" }} 
{{ $table := replace $table "(/td)" "</td>" }}

{{ $html := $table | safeHTML }}

{{ $class := .Get "class" }}
<table class="{{ $class }}">
   {{ $html }}
</table>