<!DOCTYPE html >
<html>
  <head>
    <title class="title">k14s - Kubernetes Tools that follow Unix philosophy to be simple, modular, and extensible</title>
    <link rel="stylesheet" href="js/app.css"></link>
    <!-- google analytics -->
  </head>
  <body>
    <div class="content">
      <div id="header">
        <h1><span class="logo">k14s</span></h1>
        <p>Kubernetes Tools that follow Unix philosophy to be simple, modular, and extensible</p>
      </div>

      <div id="intro">
        <div id="basic-usage">
          <pre class="terminal">
$ ytt tpl -R -f . <span class="gray">|</span> kbld -f - <span class="gray">|</span> kapp -y deploy -a app1 -f -
</pre>

          <p><a href="https://github.com/k14s">github.com/k14s</a> collection: <a href="https://get-ytt.io">ytt</a> | <a href="https://get-kbld.io">kbld</a> | <a href="https://get-kapp.io">kapp</a> | <a href="https://github.com/k14s/kwt">kwt</a></p>
        </div>

        <div id="install">
          <h2>Install</h2>

          <p>On Linux:</p>
          <pre class="terminal">$ wget -O- https://k14s.io/install.sh | bash</pre>

          <p>On OS X (based on <a href="https://github.com/k14s/homebrew-tap">github.com/k14s/homebrew-tap</a>):</p>
          <pre class="terminal">
$ brew tap k14s/tap
$ brew install ytt
$ brew install kbld
$ brew install kapp
$ brew install kwt
</pre>
        </div>
      </div>

      <div id="footer">&#8718;</div>
    </div>
  </body>
</html>
