<!DOCTYPE html >
<html>
  <head>
    <title class="title">k14s - Kubernetes Tools that follow Unix philosophy to be simple, and composable</title>
    <link rel="stylesheet" href="js/app.css"></link>
    <!-- google analytics -->
  </head>
  <body>
    <div id="k14s-tools">
      <p>Part of k14s.io: <a href="https://get-ytt.io">ytt</a> | <a href="https://get-kbld.io">kbld</a> | <a href="https://get-kapp.io">kapp</a> | <a href="https://github.com/k14s/kwt">kwt</a></p>
    </div>

    <div class="content">
      <div id="header">
        <h1><span class="logo"><strong>k14s</strong></span></h1>

        <p class="hero">Kubernetes Tools that follow Unix philosophy to be simple, and composable.</p>

        <p class="hero">
          <a class="link-button" href="https://github.com/k14s">Github</a>
          <a class="link-button" href="https://slack.kubernetes.io">#k14s in Kubernetes slack</a>
        </p>
      </div>

      <div id="intro">
        <div id="basic-usage">
          <h2>Tools</h2>

          <ul class="tools">
            <li>
              <a href="https://get-ytt.io">ytt</a> <span class="tags">#template, #overlay</span>
              <ul><li>is a YAML templating and overlay tool that works on YAML structure instead of text</li></ul>
            </li>
            <li>
              <a href="https://get-kbld.io">kbld</a> <span class="tags">#build, #img-tag-to-digest, #registry-relocate</span>
              <ul><li>helps working with container images used in Kubernetes configuration files</li></ul>
            </li>
            <li>
              <a href="https://get-kapp.io">kapp</a> <span class="tags">#deploy, #diff-apply</span>
              <ul></li><li>is a deployment tool with a concept of "Kubernetes application" — a set of resources with the same label</li></ul>
            </li>
            <li>
              <a href="https://github.com/k14s/imgpkg">imgpkg</a> <span class="tags">#package</span>
              <ul><li>is for storing application configuration files in Docker/OCI registries</li></ul>
            </li>
            <li>
              <a href="https://github.com/k14s/kapp-controller">kapp-controller</a> <span class="tags">#gitops</span>
              <ul><li>introduces App CRD to run templating plus deployment workflow in-cluster (via ytt and kapp)</li></ul>
            </li>
            <li>
              <a href="https://github.com/k14s/vendir">vendir</a>
              <ul><li>allows to declaratively state what files should be in a directory</li></ul>
            </li>
            <li>
              <a href="https://github.com/k14s/kwt">kwt</a>
              <ul><li>is Kubernetes Workstation Tools CLI which provides convenient networking tools and development workspaces</li></ul>
            </li>
          </ul>
        </div>

        <div id="install">
          <h2>Install</h2>

          <h3>Via script (Linux only)</h3>
          <pre class="terminal">$ wget -O- https://k14s.io/install.sh | bash</pre>

          <h3>Via Homebrew (macOS or Linux)</h3>
          <p>Based on <a href="https://github.com/k14s/homebrew-tap">github.com/k14s/homebrew-tap</a></p>
          <pre class="terminal">
$ brew tap k14s/tap
$ brew install ytt kbld kapp imgpkg kwt vendir
</pre>

          <h3 id="install-from-github-release">Specific version from a Github release</h3>
          <p>To download, click on one of the assets in a chosen Github release, for example for 'ytt-darwin-amd64'.</p>
          <pre class="terminal">
<span class="gray"># Compare binary checksum against what's specified in the release notes
# (if checksums do not match, binary was not successfully downloaded)</span>
$ shasum -a 256 ~/Downloads/ytt-darwin-amd64
08b25d21675fdc77d4281c9bb74b5b36710cc091f30552830604459512f5744c  /Users/pivotal/Downloads/ytt-linux-amd64
<span class="gray spacer-before"># Move binary next to your other executables</span>
$ mv ~/Downloads/ytt-darwin-amd64 /usr/local/bin/ytt
<span class="gray spacer-before"># Make binary executable</span>
$ chmod +x /usr/local/bin/ytt
<span class="gray spacer-before"># Check its version</span>
$ ytt version
</pre>
        </div>
      </div>

      <div id="footer">(c) 2019</div>
    </div>
  </body>
</html>
