<div class="team">
    <div class="wrapper">
        <h2>Contributing</h2>
        <p>Carvel is released as open source software and provides community support through our <a href="https://github.com/vmware-tanzu">GitHub projects page</a>. If you encounter an issue or have a question, feel free to reach out on the GitHub issues page for individual tools.</p>
        <p>The Carvel project team welcomes contributions from the community, please see the <a href="https://github.com/vmware-tanzu/carvel-ytt/blob/develop/CONTRIBUTING.md">contributing documentation</a> for more details.</p>
        <div class="grid three">
            <div class="bio">
                <div class="image"><img src="/img/eli-wrenn.png" /></div>
                <div class="info">
                    <p class="name">Eli Wrenn</p>
                    <p class="position">Teach Lead</p>
                </div>
            </div>
            <div class="bio">
                <div class="image"><img src="/img/john-ryan.png" /></div>
                <div class="info">
                    <p class="name">John Ryan</p>
                    <p class="position">Engineer</p>
                </div>
            </div>
            <div class="bio">
                <div class="image"><img src="/img/cari-dean.png" /></div>
                <div class="info">
                    <p class="name">Cari Lynn Dean</p>
                    <p class="position">Engineer</p>
                </div>
            </div>
            <div class="bio">
                <div class="image"><img src="/img/garrett-cheadel.png" /></div>
                <div class="info">
                    <p class="name">Garrett Cheadel</p>
                    <p class="position">Engineer</p>
                </div>
            </div>
            <div class="bio">
                <div class="image"><img src="/img/steven-locke.png" /></div>
                <div class="info">
                    <p class="name">Steven Locke</p>
                    <p class="position">Engineer</p>
                </div>
            </div>
            <div class="bio">
                <div class="image"><img src="/img/dmitriy-kalinin.png" /></div>
                <div class="info">
                    <p class="name">Dmitriy Kalinin</p>
                    <p class="position">Engineer</p>
                </div>
            </div>
            <div class="bio">
                <div class="image"><img src="/img/aaron-hurley.png" /></div>
                <div class="info">
                    <p class="name">Aaron Hurley</p>
                    <p class="position">Engineer</p>
                </div>
            </div>
            <div class="bio">
                <div class="image"><img src="/img/helen-george.png" /></div>
                <div class="info">
                    <p class="name">Helen George</p>
                    <p class="position">Product Manager</p>
                </div>
            </div>
        </div>
    </div>
</div>
