<footer>
	<div class="wrapper footer-links clearfix">
		<ul class="left-links">
			<li><a href="{{ .Site.Params.footer_social_links.twitter_url }}"><img src="/img/twitter.png" />Twitter</a></li>
			<li><a href="{{ .Site.Params.gh_repo }}"><img src="/img/github.svg" />Github</a></li>
			<li><a href="{{ .Site.Params.slack }}"><img src="/img/slack.png" /><span class="desktop">#carvel in Kubernetes Slack</span><span class="mobile">Slack</span></a></li>
			<li class="copywrite">&copy; {{ now.Year }} Carvel Authors. A VMware backed project.</li>
		</ul>
		<div class="right-links">
			<a href="/"> <img src="/img/logo.svg" /></a>
		</div>
	</div>
</footer>