<div class="hero homepage">
	<div class="wrapper">
		<div class="text-block">
			<h2>Build on Kubernetes with confidence</h2>
			<p>Carvel provides a set of reliable, single-purpose, composable tools that aid in your application building, configuration, and deployment to Kubernetes.</p>
			<a class="button">Use the whole suite</a>
		</div>
		<p class="pick">Or pick the tools you need:</p>
	</div>
	<div class="grid-container">
		<div class="wrapper">
			<div class="grid three">
				<a class="card" href="/ytt">
					<div class="image">
						<img src="/img/ytt.svg" />
					</div>
					<h3>ytt</h3>
					<p>Template and overlay Kubernetes configuration via YAML structures, not text documents. No more counting spaces, or manual quoting.</p>
				</a>
				<a class="card" href="/kbld">
					<div class="image">
						<img src="/img/kbld.svg" />
					</div>
					<h3>kbld</h3>
					<p>Build or reference container images in Kubernetes configuration in an immutable way.​</p>
				</a>
				<a class="card" href="/kapp">
					<div class="image">
						<img src="/img/kapp.svg" />
					</div>
					<h3>kapp</h3>
					<p>Install, upgrade, and delete multiple Kubernetes resources as one "application". Be confident your application is fully reconciled.</p>
				</a>
				<a class="card" href="https://github.com/vmware-tanzu/carvel-imgpkg">
					<div class="image">
						<img src="/img/imgpkg.svg" />
					</div>
					<h3>imgpkg</h3>
					<p>Bundle and relocate application configuration (with images) via Docker registries. Be assured app contents are immutable.</p>
				</a>
				<a class="card" href="https://github.com/vmware-tanzu/carvel-kapp-controller">
					<div class="image">
						<img src="/img/kapp-controller.svg" />
					</div>
					<h3>kapp-controller</h3>
					<p>Capture application deployment workflow declaratively via App CRD. Reliable GitOps experience powered by kapp.</p>
				</a>
				<a class="card" href="https://github.com/vmware-tanzu/carvel-vendir">
					<div class="image">
						<img src="/img/vendir.svg" />
					</div>
					<h3>vendir</h3>
					<p>Declaratively state what files should be in a directory.</p>
				</a>
			</div>
		</div>
	</div>
</div>
