{{ define "main" }}
	<main>
		{{ partial "hero.html" . }}
		<div class="bg-grey introduction" id="whole-suite">
			<div class="wrapper grid two">
				<div class="col">
					<p class="strong">Carvel Community Meeting - {{ dateFormat "Jan 2, 2006" .Site.Params.next_meeting_date }}</p>
					<p>We meet every other Wednesday at 9am Pacific Time. We use these meetings to share project updates, solicit feedback, and demo new upcoming features.</p>
				</div>
				<div class="col">
					<p class="strong">Getting Started with the Suite</p>
					<p>Carvel tools — when used together — offer a powerful way to create, 
						customize, iterate on, and deploy cloud-native applications. For a walkthrough check out this 
						<a href="https://tanzu.vmware.com/content/blog/introducing-k14s-kubernetes-tools-simple-and-composable-tools-for-application-deployment">article introducing the tool suite</a>.</p>
				</div>
			</div>
		</div>
		{{ partial "tools.html" . }}
		{{ partial "code-block.html" . }}
		{{ partial "carvel-team.html" . }}
	</main>
{{ end }}
