{{ define "main" }}
	<main>
        <div class="hero subpage">
            <div class="wrapper">
                <h1>Carvel Documentation</h1>
            </div>
        </div>
        <div class="wrapper community">
            <div class="grid three">
                <div class="col">
                    <div class="icon">
                        <img src="/img/ytt.svg" />
                    </div>
                    <div class="content">
                        <h3><a href="/ytt/docs/{{ .Site.Params.ytt_latest }}">ytt Docs</a></h3>
                    </div>
                </div>
                <div class="col">
                    <div class="icon">
                        <img src="/img/kbld.svg" />
                    </div>
                    <div class="content">
                        <h3><a href="/kbld/docs/{{ .Site.Params.kbld_latest }}">kbld Docs</a></h3>
                    </div>
                </div>
                <div class="col">
                    <div class="icon">
                        <img src="/img/kapp.svg" />
                    </div>
                    <div class="content">
                        <h3><a href="/kapp/docs/{{ .Site.Params.kapp_latest }}">kapp Docs</a></h3>
                    </div>
                </div>
            </div>
        </div>	
	</main>
{{ end }}