{{ define "main" }}
	<main>
        <div class="hero subpage">
            <div class="wrapper">
                <h1>Documentation</h1>
            </div>
        </div>
        <div class="wrapper dedicated-page community">
            <div class="grid three">
                <div class="col">
                    <div class="icon">
                        <img src="/img/ytt.svg" />
                    </div>
                    <div class="content">
                        <h3><a href="/ytt/docs/{{ .Site.Params.ytt_latest }}">ytt</a></h3>
                    </div>
                </div>
                <div class="col">
                    <div class="icon">
                        <img src="/img/kbld.svg" />
                    </div>
                    <div class="content">
                        <h3><a href="/kbld/docs/{{ .Site.Params.kbld_latest }}">kbld</a></h3>
                    </div>
                </div>
                <div class="col">
                    <div class="icon">
                        <img src="/img/kapp.svg" />
                    </div>
                    <div class="content">
                        <h3><a href="/kapp/docs/{{ .Site.Params.kapp_latest }}">kapp</a></h3>
                    </div>
                </div>
                <div class="col">
                    <div class="icon">
                        <img src="/img/imgpkg.svg" />
                    </div>
                    <div class="content">
                        <h3><a href="https://github.com/vmware-tanzu/carvel-imgpkg/tree/develop/docs">imgpkg</a></h3>
                    </div>
                </div>
                <div class="col">
                    <div class="icon">
                        <img src="/img/kapp-controller.svg" />
                    </div>
                    <div class="content">
                        <h3><a href="https://github.com/vmware-tanzu/carvel-kapp-controller/tree/develop/docs">kapp-controller</a></h3>
                    </div>
                </div>
                <div class="col">
                    <div class="icon">
                        <img src="/img/vendir.svg" />
                    </div>
                    <div class="content">
                        <h3><a href="https://github.com/vmware-tanzu/carvel-vendir/tree/develop/docs">vendir</a></h3>
                    </div>
                </div>
            </div>
        </div>	
	</main>
{{ end }}