{{ define "main" }}
	<main>
		<div class="hero subpage">
			<div class="wrapper">
				<h1>Blog</h1>
			</div>
		</div>
		<div class="wrapper dedicated-page blog">
			<div class="blog-post">
				<h2>{{ .Title }}</h2>
				<p>
					by <a href="/tags/{{ .Params.author | urlize }}">{{ .Params.author }}</a> &mdash;
					{{ dateFormat "Jan 2, 2006" .Date }}
				</p>
				{{ .Content }}
			</div>
		</div>
		<div class="related-content" style="display: none;">
			<div class="wrapper">
				<h2>Related Content</h2>
				<div class="grid three">
					{{ $related := (where (.Site.RegularPages.Related .) "Type" "posts") | first 3 }}
					{{ with $related }}
						{{ range . }}
							{{ partial "blog-post-card.html" . }}
						{{ end }}
					{{ end }}
				</div>
			</div>
		</div>
	</main>
{{ end }}
